/*
FULL PROJECT
*/
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: burlywood;
}

/*
NAVBAR SECTION
*/

#navbar {
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    height: 40;
}

#navbar a {
    color: white;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
}

#navbar a:hover {
    opacity: 0.6;
}

/*
WELCOME SECTION
*/
#welcome-section img {
    max-height: 300px;
    margin: 0;
    padding: 0;
}
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#welcome-section h1 {
    margin: 0 0 0 0;
    font-size: 60px;
    color: black;
}

#welcome-section h3 {
    font-size: 35px;
    color: black;
}

#welcome-section p {
    font-size: 30px;
    color: rgb(37, 35, 35);
    margin: 0;
    padding: 0;
    font-style: italic;
}

/*
TIPS SECTION
*/

#tips-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tips-section h2 {
    font-size: 30px;
    margin: 15px 0 10px 0;
}

#tips-section p {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#tips-section h3 {
    font-size: 25px;
    padding: 0;
}

#tips-section ul {
    font-size: 20px;
    margin: 5px 0 10px 0;
}

/*
MOTIVATION SECTION
*/

#motivation-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#motivation-section h2 {
    font-size: 30px;
}

#motivation-section h3 {
    font-size: 25px;
}

#motivation-section p {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

#motivation-section form {
    padding: 30px 0 0 0;
    font-size: 18px;
}

.container {
    background: rgb(0, 0, 0);
    padding: 20px 30px;
    margin: 20px 0 0 0;
    border-radius: 10px;
    text-align: center;
    width: 500px;
}

.container .title {
    font-weight: 700;
    color:#6eb41d;
    font-size: 2.2rem;
}

.quote_text {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 20px;
    color: white;
}

.gnBtn {
    width: 80%;
    height: 50px;
    margin-top: 25px;
    background-color: rgb(47, 44, 41);
    cursor: pointer;
    outline: none;
    border: none;
    color:#6eb41d;
    font-weight: 600;
    font-size: 1.1rem;
}

.gnBtn:hover {
    opacity: 0.6;
}

#anchor {
    color: #589017

}

#anchor:hover {
    opacity: 0.4;
}

#anchor:visited {
    color: #406a10
}

#anchor:active {
    color: #4a7b13;
}

#description {
    color: rgb(67, 66, 66);
}

.leana {
    max-height: 150px;
}

.ursula {
    margin: 30px 0 0 0;
    max-height: 170px;
}

input {
    background-color: rgb(200, 197, 197);
}

textarea {
    background-color: rgb(200, 197, 197);
    width: 100%;
    height: 130px;
}

.submit {
    background-color: black;
    color: #6eb41d;
    cursor: pointer;
    display: block;
    margin: auto;
    width: 40%;
    height: 25px;
}

.submit:hover {
    opacity: 0.7;
}
/*
CALCULATOR SECTION
*/

#calculator-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
FAQ SECTION
*/

#faq-section h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#faq-section a {
    color:#589017;
}

#faq-section a:hover {
    opacity: 0.6;
}

#faq-section a:visited {
    color: #406a10;
}

#faw-section a:active {
    color: #4a7b13;
}

/*
LINES
*/

hr {
    border: solid;
    border-top: 2px;
    border-bottom: 2px;
    height: 3px;
    background-color:#6eb41d;
    color:#6eb41d;
    margin: 20px;
    padding: 0;
}